/* GENERAL
============================================================================= */
/* Reset */
*,*:after, *:before {  -webkit-box-sizing: border-box;  -moz-box-sizing: border-box;  box-sizing: border-box;}
/* Clearfix hack */
.clearfix:before,.clearfix:after {  content: " ";  display: table;}
.clearfix:after {  clear: both;}
body, html { margin:0;padding:0;font-size: 100%;   padding: 0; margin: 0;overflow-x: hidden;width:100%;height:100%;position: relative;}
.wrapper 		{position: absolute;width: 100%;margin: 0px;padding: 0px;max-width: 100%;height:auto;}
#background { position: absolute;top:0;left: 0;width:100%;height:auto;overflow: hidden;max-width: 100%;}
a:hover { color: #e69f1a;opacity: 0.6;filter: alpha(opacity=60);cursor:pointer;}
a:link {    color: #292a2a;text-decoration: none;cursor:pointer;}
a:visited {    color: #635d63;text-decoration: none;cursor:pointer;}
a:hover {    color: #02cad7; text-decoration: none;cursor:pointer; }
a:active {    color: #c50e12; text-decoration: none;cursor:pointer;}
a { text-decoration: none;cursor:pointer; }
h1 {font-family: 'Architects Daughter', cursive;font-size:36px;}
.btn { font-family: 'Architects Daughter', cursive;font-size:18px;background-color: #FFF;border:1px solid #101010;border-radius:0px;}
.floatleft { float:left; }
.floatright { float:right; }
/* MENU AND LOGO
============================================================================= */
#logo { position:absolute; top:18px;right:50px;width:100px;height:83px;}
#logo2 { position:absolute; top:31px;right:50px;width:70px;height:51px;}
/* Internal menu */
.menuwrap { border-bottom: 1px solid #101010;width:100%;height:111px;display: block; }
/* ANIMATED
============================================================================= */
#title { position:absolute;padding-top:4%;left:23.8%;width:50%;height:auto; }
#titleimg{ width:100%;height:auto; }
#plane { position:absolute;padding-top:15%;left:-40%;width:35%;height:auto; }
#planeimg{ width:100%;height:auto; }
#trail {position: absolute;left:71%;top:92%;width:10%;height:auto;}
#sun { position:absolute;margin-top: 20.4%;left:41.4%;width:15%;height:auto; }
#sunimg { width:100%;height: auto; }
#tie {position:absolute;top:80% ;left:41%;width: 17%;height: auto;}
#boat { position:absolute;padding-top:25%;left:-40%;width:16%;height:auto;}
#boatimg { width:100%;height: auto; }
#v2boat { position:absolute;padding-top:35%;left:-60%;width:11%;height:auto;}
#boatimg2 { width:100%;height: auto; }
#mine { position:absolute;padding-top:39%;left:-40%;width:2%;height:auto;}
#mineimg { width:100%;height: auto; }
#gateimg { position:absolute;margin-top:46.7%;left:43.4%;width:11%;height: auto; }
/* Overlayed cliff for boat and plane to go behind */
#cliff { position:absolute;top:0.2%;left:80.33%;width:19.55%;height:auto; }
#cliffimg {width:100%;height: auto;}
#apache { z-index:99;position:absolute;padding-top:62%;left:9%;width:26%;height:auto;}
#apacheimg { width:100%;height: auto; }
#apacheanim { position: absolute;top:82%;left:0%;width:100%;height:auto; }
#oldlady { position:absolute;padding-top:98%;left:-10%;width:6%;height:auto; }
#oldladyimg{ width:100%;height:auto; }
#hummer { position:absolute;padding-top:129%;left:-90%;width:21%;height:auto; }
#hummerimg{ width:100%;height:auto; }
#humtrail {position: absolute;left:-14%;top:97.2%;width:18%;height:auto;}
/* SHOP LOGOS
============================================================================= */
#archiesweb {position:absolute;margin-top: 73.7%;left:19.2%;width:6%;height:auto;}
#beeny {position:absolute;margin-top: 73.3%;left:26.7%;width:4.8%;height:auto;}
#goddess {position:absolute;margin-top: 73%;left:59.9%;width:4.8%;height:auto;}
#freddie {position:absolute;margin-top: 73.45%;left:67.1%;width:11.5%;height:auto;}
#asos {position:absolute;margin-top: 91.7%;left:14.2%;width:8%;height:auto;}
#edwin {position:absolute;margin-top: 92.7%;left:64.1%;width:9%;height:auto;}
#utopia {position:absolute;margin-top: 93.19%;left:74.8%;width:10%;height:auto;}
#oda {position:absolute;margin-top: 92.1%;left:87.4%;width:5%;height:auto;}
#roam {position:absolute;margin-top: 121.5%;left:5.3%;width:7%;height:auto;}
#budd {position:absolute;margin-top: 121.7%;left:16.4%;width:9%;height:auto;}
#onemega {position:absolute;margin-top: 122.1%;left:87.3%;width:7%;height:auto;}
#thepixellottery {position:absolute;margin-top: 122%;left:72.6%;width:8%;height:auto;}

/* CUSTOM MENU
============================================================================= */
/* burger menu btn */
.btnwrap { position:relative;display: block;left:0; }
#showLeftPush:focus,#showLeftPush:active {outline: none !important;}
#showLeftPush { background: transparent;border:none;position:absolute;left:35px;top: 35px; }
.icon-drop:before {  content: "\e000";}
.icon-arrow-left:before {  content: "\f060";}
/* General styles for all inner slide menus */
.cbp-spmenu {  background: #FFF;  position: fixed;z-index: 1000;}
.cbp-spmenu h3 {   padding: 20px;  margin: 0; font-family: 'Architects Daughter', cursive;font-size: 24px;letter-spacing: 1px;  }
.cbp-spmenu a#firstnav { border-top:1px solid #000; }
.cbp-spmenu a {  display: block;  font-family: 'Architects Daughter', cursive;font-size: 18px;letter-spacing: 1px;}
.cbp-spmenu a:hover {  background: #e3f3fa;}
.cbp-spmenu a:active {  background: #fae3fa;  color: #3e3e3e;}
/* Orientation-dependent styles for the content of the menu */
.cbp-spmenu-vertical {  width: 210px;  height: 100%;  top: 0;  z-index: 1000;}
.cbp-spmenu-vertical a {  border-bottom: 1px solid #000;  padding: 1em;}
/* Vertical menu that slides from the left or right */
.cbp-spmenu-left {  left: -210px;z-index: 1000;border-right:1px solid #000; }
.cbp-spmenu-left.cbp-spmenu-open {  left: 0px;z-index: 1000}
/* Push classes applied to the body */
.cbp-spmenu-push {  overflow-x: hidden;  position: relative;  left: 0;}
.cbp-spmenu-push-toright {  left: 210px;}
/* Transitions */
.cbp-spmenu, .cbp-spmenu-push {  -webkit-transition: all 0.3s ease;  -moz-transition: all 0.3s ease;  transition: all 0.3s ease;}
/* CONTACT
============================================================================= */
.container-fluid img.contact { width:200px;max-width: 201px;min-width: 200px; }
/* INTERNAL & BOOTSTRAP STUFF
============================================================================= */
.container-fluid {padding-left: 0;padding-right: 0;}
.textbox { padding:10%;width:100%;min-height: 100%;height:100%; }
.container-fluid img { max-width:100%;height:auto;min-width:100%; }
.row.no-pad {margin-right:0;margin-left:0;}
.row.no-pad > [class*='col-'] {  padding-right:0;  padding-left:0;}
/* SKILLSET CHARTS
============================================================================= */
.chartwrap { width:100%;height:auto; }
.chartwrap div   {padding:2%;font-family: 'Architects Daughter', cursive;margin-bottom: 2%;font-size:18px;}
#html { width:90%;background-color: #a3d6d8;padding:2; }
#css { width:90%;background-color: #66c4ae; }
#psd { width:90%;background-color: #dfd551; }
#illu { width:70%;background-color: #6ca7c4; }
#javascript { width:70%;background-color: #e0a9ba; }
#php { width:50%;background-color: #89e3ba; }
#sql { width:50%;background-color: #76acc0; }
#cpan { width:50%;background-color: #e4a664; }
#greensock { width:70%;background-color: #7fda88; }
#sass { width:70%;background-color: #c59deb; }
#jquery { width:80%;background-color: #acf4e2; }
#seo { width:80%;background-color: #e78b67; }
#wordpress { width:80%;background-color: #6779e7; }
#ux { width:90%;background-color: #f091db; }
#ui { width:90%;background-color: #dfd551; }
#animation { width:90%;background-color: #74b4cc; }
#illustration { width:60%;background-color: #e0a9ba; }
#team { width:100%;background-color: #94e091; }

/* FOOTER
============================================================================= */
.footer {     font-family: 'Architects Daughter', cursive;font-size:15px;padding-top:42px;display: block;position: relative;width: 100%;text-align: right;border-top: 1px solid #101010;height: 111px;display: block;}
#homesocial {width:99%;position:absolute;top:132%;left:0;border-top:0;height:auto;}
.footer p { margin-right:35px; }
.social-roll {  background-size: 100% 100%;  height: 33px;  width: 33px;  margin: 5px;  float: left;  position: relative;  top:-10px;  left:35px;  -webkit-transition: all ease 0.3s;  -moz-transition: all ease 0.3s;  -o-transition: all ease 0.3s;  -ms-transition: all ease 0.3s; transition: all ease 0.3s;}
.social-roll:hover {  background-size: 100% 100%;  -webkit-transform:rotate(360deg);  -moz-transform:rotate(360deg);  -o-transform:rotate(360deg);  -ms-transform:rotate(360deg);  transform:rotate(360deg);}
.facebook-roll {   background-image: url('../img/social/facebook-bw.png'); }
.facebook-roll:hover {   background-image: url('../img/social/facebook.png'); }
.google-roll {   background-image: url('../img/social/google-bw.png'); }
.google-roll:hover {   background-image: url('../img/social/google.png'); }
.linkedin-roll {   background-image: url('../img/social/linkedin-bw.png'); }
.linkedin-roll:hover {   background-image: url('../img/social/linkedin.png'); }
.youtube-roll {   background-image: url('../img/social/youtube-bw.png'); }
.youtube-roll:hover {   background-image: url('../img/social/youtube.png'); }
.pinterest-roll {   background-image: url('../img/social/pinterest-bw.png'); }
.pinterest-roll:hover {   background-image: url('../img/social/pinterest.png'); }
.instagram-roll {   background-image: url('../img/social/instagram-bw.png'); }
.instagram-roll:hover {   background-image: url('../img/social/instagram.png'); }
/* image hover effects
============================================================================= */


section {
  padding: 1em;
  text-align: center;
}

.content {
  margin: 0 auto;
  max-width: 1000px;
}

.content > h2 {
  clear: both;
  margin: 0;
  padding: 4em 1% 0;
  color: #484B54;
  font-weight: 800;
  font-size: 1.5em;
}

.content > h2:first-child {
  padding-top: 0em;
}

/*try to del above general hover styles below*/



/* Common style */
figure {
  position: relative;

  overflow: hidden;
  min-width: 100%;
  max-width: 1200px;
  max-height: 1000px;
  width: 100%;
  background: #3085a3;
  text-align: center;
  cursor: pointer;
}

figure img {
  position: relative;
  display: block;
  min-height: 100%;
  max-width: 100%;
  opacity: 1;
}

figure figcaption {
  padding: 2em;
  color: #000;
  text-transform: uppercase;
  font-size: 1.25em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

figure figcaption::before,
figure figcaption::after {
  pointer-events: none;
}

figure figcaption,
figure figcaption > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
figure figcaption > a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;
}

figure h2 {
  word-spacing: -0.15em;
  font-weight: 300;
  font-family: 'Architects Daughter', cursive;

}

figure h2 span {
  font-weight: 800;
}

figure h2,
figure p {
  margin: 0;
}

figure p {
  letter-spacing: 1px;
  font-size: 68.5%;
  text-transform: none;
}

/*specific to roxy*/

/*---------------*/
/***** Roxy *****/
/*---------------*/

figure.effect-roxy {
  background: -webkit-linear-gradient(45deg, #fff 0%, #fff 100%);
  background: linear-gradient(45deg, #fff 0%,#fff 100%);
}

figure.effect-roxy img {
  max-width: none;
  width: -webkit-calc(100% + 60px);
  width: calc(100% + 60px);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-50px,0,0);
  transform: translate3d(-50px,0,0);
}

figure.effect-roxy figcaption::before {
  position: absolute;
  top: 30px;
  right: 30px;
  bottom: 30px;
  left: 30px;
  border: 1px solid #000;
  content: '';
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-20px,0,0);
  transform: translate3d(-20px,0,0);}
figure.effect-roxy figcaption {  padding: 3em;  text-align: left;}
figure.effect-roxy h2 {  padding: 30% 0 10px 0;}
figure.effect-roxy p {  opacity: 0;  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;  transition: opacity 0.35s, transform 0.35s;  -webkit-transform: translate3d(-10px,0,0);  transform: translate3d(-10px,0,0);}
figure.effect-roxy:hover img {  opacity: 0.1;  -webkit-transform: translate3d(0,0,0);  transform: translate3d(0,0,0);}
figure.effect-roxy:hover figcaption::before,figure.effect-roxy:hover p {  opacity: 1;  -webkit-transform: translate3d(0,0,0); transform: translate3d(0,0,0);}
figure.effect-roxy h2 {  opacity: 0;  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;  transition: opacity 0.35s, transform 0.35s;  -webkit-transform: translate3d(-10px,0,0);  transform: translate3d(-10px,0,0);}
figure.effect-roxy:hover h2 { opacity: 1;  -webkit-transform: translate3d(0,0,0);transform: translate3d(0,0,0);}
/* RESPONSIVE FIXES
============================================================================= */
/* Portrait */
@media (min-width:1px) and (max-width:767px){ 
#logo { right:21px;top:3px; }
#title { display:none; }
#homesocial {top:132%;}
#logo2 {top:24px;right:42px;}
figure {
  max-height: 400px;
}

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) 
@media (min-width: @screen-sm-min) {  }*/

/* Medium devices (desktops, 992px and up) 
@media (min-width: @screen-md-min) {  }*/

/* Large devices (large desktops, 1200px and up) 
@media (min-width: @screen-lg-min) {  }
/*More
@media (max-width: @screen-xs-max) {  }
@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {  }
@media (min-width: @screen-md-min) and (max-width: @screen-md-max) {  }
@media (min-width: @screen-lg-min) {  }
*/