/* GENERAL
============================================================================= */
/* Reset */
*,
*:after,
*:before {
  box-sizing: border-box; }

/* Clearfix hack */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

body,
html {
  margin: 0;
  padding: 0;
  font-size: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  position: relative; }

.wrapper {
  position: absolute;
  width: 100%;
  margin: 0px;
  padding: 0px;
  max-width: 100%;
  height: auto;
  top: 0;
  left: 0; }

.internal-wrapper {
  display: block;
  width: 100%;
  margin: 0px;
  padding: 0px;
  max-width: 100%;
  height: 100%; }

a:hover {
  color: #e69f1a;
  opacity: 0.6;
  filter: alpha(opacity=60);
  cursor: pointer; }

a:link {
  color: #292a2a;
  text-decoration: none;
  cursor: pointer; }

a:visited {
  color: #635d63;
  text-decoration: none;
  cursor: pointer; }

a:hover {
  color: #02cad7;
  text-decoration: none;
  cursor: pointer; }

a:active {
  color: #c50e12;
  text-decoration: none;
  cursor: pointer; }

a {
  text-decoration: none;
  cursor: pointer; }

h1 {
  font-family: 'Architects Daughter', cursive;
  font-size: 36px; }

p a.colored {
  color: #aa9fc8; }

.btn {
  font-family: 'Architects Daughter', cursive;
  font-size: 18px;
  background-color: #FFF;
  border: 1px solid #101010;
  border-radius: 0px; }

.floatleft {
  float: left; }

.floatright {
  float: right; }

/* MENU AND LOGO
============================================================================= */
#logo {
  position: absolute;
  padding-top: 9%;
  left: 39.8%;
  width: 19%;
  height: auto; }

.mini-logo {
  width: 100px;
  position: relative;
  top: -8px;
  left: 10px; }

/* menu */
.navbar-toggle .icon-bar {
  background-color: #000; }

.navbar {
  border-bottom: 1px solid #848484;
  margin-bottom: 0px; }

/* ANIMATED
============================================================================= */
#background {
  position: absolute;
  padding-top: 0;
  left: 0;
  width: 100%;
  height: auto;
  overflow: hidden;
  low: hidden;
  max-width: 100%; }

#plane {
  position: absolute;
  padding-top: 1%;
  left: 9%;
  width: 82%;
  height: auto; }

#audio1 {
  position: absolute;
  padding-top: 6%;
  left: 9%;
  width: 5%;
  height: auto; }

#professor {
  position: absolute;
  padding-top: 38%;
  left: 21%;
  width: 15%;
  height: auto; }

#kid1 {
  position: absolute;
  padding-top: 20%;
  left: 39%;
  width: 9%;
  height: auto; }

#kid2 {
  position: absolute;
  padding-top: 42%;
  left: 54%;
  width: 6%; }

#kid3 {
  position: absolute;
  padding-top: 48%;
  left: 61.5%;
  width: 11%; }

#kid4 {
  position: absolute;
  padding-top: 52%;
  left: 32.5%;
  width: 12%; }

#kid5 {
  position: absolute;
  padding-top: 50.6%;
  left: 46.8%;
  width: 16%; }

#kid6 {
  position: absolute;
  padding-top: 52%;
  left: 65.5%;
  width: 18%; }

#kid7 {
  position: absolute;
  padding-top: 59.4%;
  left: 24.2%;
  width: 15%; }

#kid8 {
  position: absolute;
  padding-top: 57.4%;
  left: 1.2%;
  width: 65%; }

#gumbuildup {
  position: absolute;
  padding-top: 57.4%;
  left: 7.2%;
  width: 5%; }

#kid9 {
  position: absolute;
  padding-top: 54.4%;
  left: 72.2%;
  width: 18%; }

#kid10 {
  position: absolute;
  padding-top: 68.4%;
  left: 17.2%;
  width: 19%; }

#kid11 {
  position: absolute;
  padding-top: 67.4%;
  left: 62.2%;
  width: 17%; }

#kid12 {
  position: absolute;
  padding-top: 59%;
  left: 31.2%;
  width: 69%; }

#paperbuildup {
  position: absolute;
  padding-top: 59%;
  left: 4.2%;
  width: 14%; }

#vectors {
  position: absolute;
  padding-top: 54%;
  left: 34.2%;
  width: 50%; }

#courses {
  position: absolute;
  margin-top: 32%;
  left: 85.5%;
  width: 6%; }

#contact {
  position: absolute;
  margin-top: 39%;
  left: 85.8%;
  width: 6%; }

#pricing {
  position: absolute;
  margin-top: 46%;
  left: 85.7%;
  width: 6%; }

#science {
  position: absolute;
  margin-top: 84%;
  left: 7.7%;
  width: 41%; }

#math {
  position: absolute;
  margin-top: 84%;
  left: 51.2%;
  width: 45%; }

#english {
  position: absolute;
  margin-top: 109.5%;
  left: 1.9%;
  width: 41%; }

#creative {
  position: absolute;
  margin-top: 113%;
  left: 43.2%;
  width: 50%; }

/* CUSTOM MENU 
============================================================================= */
ul.nav > li > a {
  font-family: 'Architects Daughter', cursive;
  font-size: 18px;
  letter-spacing: 1px;
  position: relative;
  left: 10px; }

/* INTERNAL & BOOTSTRAP STUFF
============================================================================= */
.container-fluid {
  padding-left: 0;
  padding-right: 0;
  background-color: #fff; }

.textbox {
  padding: 10%;
  width: 100%;
  min-height: 100%;
  height: 100%; }

.container-fluid img {
  max-width: 100%;
  height: auto;
  min-width: 100%; }

.row.no-pad {
  margin-right: 0;
  margin-left: 0; }

.row.no-pad > [class*='col-'] {
  padding-right: 0;
  padding-left: 0; }

/*accordeon*/
[role=button] {
  cursor: pointer;
  font-family: 'Architects Daughter', cursive;
  font-size: 21   px; }

/*tabs*/
.small-nav-centered-title {
  font-size: 30px; }

/* FOOTER
============================================================================= */
.footer {
  font-family: 'Architects Daughter', cursive;
  font-size: 15px;
  margin-top: 138%;
  position: absolute;
  width: 100%;
  text-align: right;
  display: block;
  background-color: #fff;
  border-top: 1px solid #848484; }

.panel-title {
  font-size: 30px; }

.internal-footer {
  width: 100%;
  text-align: right;
  border-top: 1px solid #848484;
  display: block;
  position: fixed;
  bottom: 0px;
  background-color: #fff; }

.credits {
  font-family: 'Architects Daughter', cursive;
  font-size: 15px;
  position: relative;
  top: 20px; }

#homesocial {
  width: 99%;
  position: absolute;
  top: 132%;
  left: 0;
  border-top: 0;
  height: auto; }

.footer p {
  margin: 10px 18px; }

.social-roll {
  background-size: 100% 100%;
  height: 33px;
  width: 33px;
  margin: 5px;
  float: left;
  position: relative;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s; }

.social-roll:hover {
  background-size: 100% 100%;
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg); }

.facebook-roll {
  background-image: url("../img/social/facebook-bw.png"); }

.facebook-roll:hover {
  background-image: url("../img/social/facebook.png"); }

.google-roll {
  background-image: url("../img/social/google-bw.png"); }

.google-roll:hover {
  background-image: url("../img/social/google.png"); }

.linkedin-roll {
  background-image: url("../img/social/linkedin-bw.png"); }

.linkedin-roll:hover {
  background-image: url("../img/social/linkedin.png"); }

.youtube-roll {
  background-image: url("../img/social/youtube-bw.png"); }

.youtube-roll:hover {
  background-image: url("../img/social/youtube.png"); }

.pinterest-roll {
  background-image: url("../img/social/pinterest-bw.png"); }

.pinterest-roll:hover {
  background-image: url("../img/social/pinterest.png"); }

.instagram-roll {
  background-image: url("../img/social/instagram-bw.png"); }

.instagram-roll:hover {
  background-image: url("../img/social/instagram.png"); }

/* image hover effects
============================================================================= */
section {
  padding: 1em;
  text-align: center; }

.content {
  margin: 0 auto;
  max-width: 1000px; }

.content > h2 {
  clear: both;
  margin: 0;
  padding: 4em 1% 0;
  color: #484B54;
  font-weight: 800;
  font-size: 1.5em; }

.content > h2:first-child {
  padding-top: 0em; }

/*try to del above general hover styles below*/
/* Common style */
figure {
  position: relative;
  overflow: hidden;
  min-width: 100%;
  max-width: 1200px;
  max-height: 1000px;
  width: 100%;
  background: #3085a3;
  text-align: center;
  cursor: pointer; }

figure img {
  position: relative;
  display: block;
  min-height: 100%;
  max-width: 100%;
  opacity: 1; }

figure figcaption {
  padding: 2em;
  color: #000;
  text-transform: uppercase;
  font-size: 1.25em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

figure figcaption::before,
figure figcaption::after {
  pointer-events: none; }

figure figcaption,
figure figcaption > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
figure figcaption > a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0; }

figure h2 {
  word-spacing: -0.15em;
  font-weight: 300;
  font-family: 'Architects Daughter', cursive; }

figure h2 span {
  font-weight: 800; }

figure h2,
figure p {
  margin: 0; }

figure p {
  letter-spacing: 1px;
  font-size: 68.5%;
  text-transform: none; }

/*specific to roxy*/
/*---------------*/
/***** Roxy *****/
/*---------------*/
figure.effect-roxy {
  background: -webkit-linear-gradient(45deg, #fff 0%, #fff 100%);
  background: linear-gradient(45deg, #fff 0%, #fff 100%); }

figure.effect-roxy img {
  max-width: none;
  width: calc(100% + 60px);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-50px, 0, 0);
  transform: translate3d(-50px, 0, 0); }

figure.effect-roxy figcaption::before {
  position: absolute;
  top: 30px;
  right: 30px;
  bottom: 30px;
  left: 30px;
  border: 1px solid #000;
  content: '';
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-20px, 0, 0);
  transform: translate3d(-20px, 0, 0); }

figure.effect-roxy figcaption {
  padding: 3em;
  text-align: left; }

figure.effect-roxy h2 {
  padding: 30% 0 10px 0; }

figure.effect-roxy p {
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-10px, 0, 0);
  transform: translate3d(-10px, 0, 0); }

figure.effect-roxy:hover img {
  opacity: 0.1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

figure.effect-roxy:hover figcaption::before,
figure.effect-roxy:hover p {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

figure.effect-roxy h2 {
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-10px, 0, 0);
  transform: translate3d(-10px, 0, 0); }

figure.effect-roxy:hover h2 {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

/* RESPONSIVE FIXES
============================================================================= */
/* Portrait */
@media (min-width: 1px) and (max-width: 767px) {
  #logo {
    top: 50px; }
  #title {
    display: none; }
  #homesocial {
    top: 132%; }
  #logo2 {
    top: 24px;
    right: 42px; }
  figure {
    max-height: 400px; }
  /*study right !!*/
  .footer {
    margin-top: 128.3%; } }

@media (min-width: 1px) and (max-width: 580px) {
  .footer {
    padding: 10px; }
  /*study right !!*/
  .footer .social-roll {
    max-width: 20px;
    max-height: 20px; }
  .credits {
    top: 0px;
    text-align: left;
    float: left;
    left: 5px; }
  table {
    position: relative;
    left: -42px; }
  .small-nav-centered-title {
    font-size: 11px; } }

/* Extra small devices (phones, less than 768px) 
No media query since this is the default in Bootstrap 

Small devices (tablets, 768px and up) 
@media (min-width: @screen-sm-min) {  }

Medium devices (desktops, 992px and up) 
@media (min-width: @screen-md-min) {  }

Large devices (large desktops, 1200px and up) 
@media (min-width: @screen-lg-min) {  }
More
@media (max-width: @screen-xs-max) {  }
@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {  }
@media (min-width: @screen-md-min) and (max-width: @screen-md-max) {  }
@media (min-width: @screen-lg-min) {  }*/
